<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Artists</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Birth Year</th>
                <th>Country</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <% for (let artist of artists) { %>
                <tr>
                    <td>
                        <%= artist.name %>
                    </td>
                    <td>
                        <%= artist.birth_year %>
                    </td>
                    <td>
                        <%= artist.country %>
                    </td>
                    <td>
                        <a href="/artists/<%= artist.id %>/update">Update</a>
                        <a href="/artists/<%= artist.id %>/delete">Delete</a>
                    </td>
                </tr>
                <% } %>

        </tbody>
    </table>

</body>

</html>